
{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/reservation.css' %}">
    <title>Hello, world!</title>
  </head>
  <body>
<h2>Welcome</h2>
    <table class="table table-dark" style="border-collapse: separate; box-sizing: border-box; border-spacing: 2px; border-color: grey; ">
  <thead>
    <tr>
       <th scope="col">Date</th>
      <th scope="col">6-7</th>
      <th scope="col">7-8</th>
      <th scope="col">8-9</th>
      <th scope="col">9-10</th>
       <th scope="col">10-11</th>
      <th scope="col">11-12</th>
        <th scope="col">12-13</th>
      <th scope="col">13-14</th>
      <th scope="col">14-15</th>
      <th scope="col">15-16</th>
       <th scope="col">16-17</th>
      <th scope="col">17-18</th>
      <th scope="col">18-19</th>
      <th scope="col">19-20</th>
       <th scope="col">20-21</th>
      <th scope="col">21-22</th>
      <th scope="col">22-23</th>
      <th scope="col">23-24</th>
    </tr>
  </thead>
  <tbody>
{% for date in reservation_date %}
    <tr>
     <td class= "title"><a href="reservation/{{date.day_id}}">{{date.Date}}</a></td>
    <td class = '{{date.T6_7}}'   onclick="makeReservation(this, {{date.day_id}})"></td>
    <td class = '{{date.T7_8}}'   onclick="makeReservation(this, {{date.day_id}})"></td>
    <td class = '{{date.T8_9}}'   onclick="makeReservation(this, {{date.day_id}})"></td>
    <td class = '{{date.T9_10}}'  onclick="makeReservation(this, {{date.day_id}})"></td>
    <td class = '{{date.T10_11}}' onclick="makeReservation(this, {{date.day_id}})"></td>
    <td class = '{{date.T11_12}}' onclick="makeReservation(this, {{date.day_id}})"></td>
    <td class = '{{date.T12_13}}' onclick="makeReservation(this, {{date.day_id}})"></td>
    <td class = '{{date.T13_14}}' onclick="makeReservation(this, {{date.day_id}})"></td>
    <td class = '{{date.T14_15}}' onclick="makeReservation(this, {{date.day_id}})"></td>
    <td class = '{{date.T15_16}}' onclick="makeReservation(this, {{date.day_id}})"></td>
    <td class = '{{date.T16_17}}' onclick="makeReservation(this, {{date.day_id}})"></td>
    <td class = '{{date.T17_18}}' onclick="makeReservation(this, {{date.day_id}})"></td>
    <td class = '{{date.T18_19}}' onclick="makeReservation(this, {{date.day_id}})"></td>
    <td class = '{{date.T19_20}}' onclick="makeReservation(this, {{date.day_id}})"></td>
    <td class = '{{date.T20_21}}' onclick="makeReservation(this, {{date.day_id}})"></td>
    <td class = '{{date.T21_22}}' onclick="makeReservation(this, {{date.day_id}})"></td>
    <td class = '{{date.T22_23}}' onclick="makeReservation(this, {{date.day_id}})"></td>
    <td class = '{{date.T23_24}}' onclick="makeReservation(this, {{date.day_id}})"></td>

    </tr>
  {%endfor%}
  </tbody>
</table>
</div>
  <script>



function makeReservation(el,day) {
  if (el.className == "open") {
  document.location.href = "reservation/" + day
  }
}



  </script>

<!--    </div>-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>